.controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;

    .arrow {
        height: 3rem;
        width: 4rem;
        grid-row: 2;
        background: #61234e;
        border: none;
        border-radius: 4px;
        padding: 5px;

        cursor: pointer;

        svg {
            height: 100%;
            width: 100%;
            color: #ff5858;
        }
        &.ArrowUp {
            grid-row: 1;
            grid-column: 2;
            svg {
                transform: rotate(270deg);
            }
        }
        &.ArrowLeft {
            grid-column: 1;
            svg {
                transform: rotate(180deg);
            }
        }
        &.ArrowDown {
            grid-column: 2;
            svg {
                transform: rotate(90deg);
            }
        }
        &.ArrowRight {
            grid-column: 3;
            svg {
                transform: rotate(0deg);
            }
        }
    }
}

.arrow {
    box-shadow: 0px 4px 0px 1px #ff5858;
    transition: ease all 0.05s;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

    &:active {
        transform: translateY(4px);
        box-shadow: 0px 1px 0px 1px #ff5858;
        outline: none;
    }
}
