@import "variables.scss";
@import "controls.scss";
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#app {
    display: flex;
    gap:1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #032535;
}

#game-canvas {
    max-width: 98%;
    box-sizing: border-box;
    background: #032535;
    border: #ff5858 1px solid;
    border-radius: 5px;
}
