@import "controls.scss";
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: linear-gradient(
  0deg,
  hsl(199deg 89% 11%) 16%,
  hsl(203deg 85% 13%) 57%,
  hsl(209deg 69% 15%) 71%,
  hsl(217deg 52% 19%) 80%,
  hsl(229deg 38% 22%) 86%,
  hsl(247deg 31% 24%) 90%,
  hsl(266deg 33% 24%) 93%,
  hsl(285deg 35% 24%) 95%,
  hsl(305deg 39% 24%) 97%,
  hsl(318deg 47% 26%) 100%
);
}
h3 {
    color: white;
    font-size: 3rem;
    padding: 0 40px;
    text-align: center;
    line-height: 5rem;
    margin: 0px;
    font-family: "Press Start 2P", cursive;
    text-shadow: 5px 0px 0px #ff5858, -5px 0px 0px #ff5858, 0px 5px 0px #ff5858,
        0px -5px 0px #ff5858, -5px -5px 0px #ff5858, 5px 5px 0px #ff5858,
        -5px 5px 0px #ff5858, 5px -5px 0px #ff5858;
}
#app {
    display: flex;
    gap: 1rem;
    margin: auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: inherit;
}

#game-canvas {
    max-width: 98%;
    max-height: 98%;
    // height:auto;
    // width:auto;
    box-sizing: border-box;
    background: #032535;
    border: #ff5858 1px solid;
    border-radius: 5px;
}
